{
    // "sourceMaps": true,
    // "compact": true,
    "presets": [
      ["@babel/env", {
        "targets": "last 1 version",
        "shippedProposals": true
      }],
      [
        "@babel/react",
        {
          "useBuiltIns": true,
          "pragma": "dom",
          "pragmaFrag": "DomFrag",
          "throwIfNamespace": false
        }
      ]
    ],
    "plugins": [
        "react-hot-loader/babel",
        ["babel-plugin-styled-components", {
          "minify": true,
          "pure": true
        }],
        "@babel/plugin-proposal-class-properties",
        "transform-react-jsx"
    ]
}